a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

ul {
    list-style: none;
}
body {
font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #434455;
}
h1{
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
}




.header {}

.header-nav {}

.header-logo {}

.header-logo-span {}

.header-menu-list {}

.header-menu-item {}

.header-menu-link {}

.header-contacts {}

.header-contact {}

.header-contact-link {}
/* Верхнє синє вікно */

.hero {}

.hero-title {}

.hero-button {}
/* Переваги */

.advantages {}

.advantages-title {}

.advantages-list {}

.advantage-list-item {}

.advantage-item-title {}

.advantage-item-text {}
/* Наша команда */

.ourteam {}

.ourteam-title {}

.ourteam-list {}

.ourteam-item {}

.ourteam-list-item-img {}

.ourteam-item-title {}

.ourteam-item-text {}
/* Портфоліо команди */

.ourportfolio {}

.ourportfolio-tite {}

.ourportfolio-list {}

.ourportfolio-item {}

.ourportfolio-list-item-img {}

.ourportfolio-item-title {}

.ourportfolio-item-text {}
/* Нижня частина сайту */

.footer {}

.footer-logo {}

.footer-logo-span {}

.footer-text {}
